Flow 5
[{"id":"b447c09b.24874","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"81826cbc.b9393","type":"http in","z":"b447c09b.24874","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":190,"y":160,"wires":[["a43f4875.7ed918","12818512.ea408b"]]},{"id":"a43f4875.7ed918","type":"function","z":"b447c09b.24874","name":"set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["143f20ff.59986f"]]},{"id":"143f20ff.59986f","type":"rpi-gpio out","z":"b447c09b.24874","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":610,"y":180,"wires":[]},{"id":"12818512.ea408b","type":"function","z":"b447c09b.24874","name":"Return Status","func":"msg.payload=\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["d23d445f.00f338","e7ecb70d.4bb358"]]},{"id":"d23d445f.00f338","type":"http response","z":"b447c09b.24874","name":"","statusCode":"","headers":{},"x":760,"y":280,"wires":[]},{"id":"e7ecb70d.4bb358","type":"debug","z":"b447c09b.24874","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":380,"wires":[]},{"id":"e609fd99.6a2f1","type":"http in","z":"b447c09b.24874","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":170,"y":400,"wires":[["416940c9.72698","b587d9e2.8c14e8"]]},{"id":"416940c9.72698","type":"function","z":"b447c09b.24874","name":"clear to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":420,"wires":[["143f20ff.59986f"]]},{"id":"b587d9e2.8c14e8","type":"function","z":"b447c09b.24874","name":"Return Status","func":"msg.payload=\"GPIO5 set to LOW\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":480,"wires":[["d23d445f.00f338","e7ecb70d.4bb358"]]}]
