Flow 4
[{"id":"1180aee9.08c901","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"78a7d1a9.6b113","type":"http in","z":"1180aee9.08c901","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":140,"y":220,"wires":[["81ce50d5.c8b8c"]]},{"id":"829946aa.a5ec08","type":"rpi-gpio in","z":"1180aee9.08c901","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":130,"y":360,"wires":[["93ebda79.912518"]]},{"id":"93ebda79.912518","type":"function","z":"1180aee9.08c901","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["d641d0f8.1f017"]]},{"id":"81ce50d5.c8b8c","type":"function","z":"1180aee9.08c901","name":"Get GPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["ee6d5df3.23814","d641d0f8.1f017"]]},{"id":"d641d0f8.1f017","type":"debug","z":"1180aee9.08c901","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":340,"wires":[]},{"id":"ee6d5df3.23814","type":"http response","z":"1180aee9.08c901","name":"","statusCode":"","headers":{},"x":680,"y":220,"wires":[]}]
